.form {
    &-container {
        display: flex;
        width: 80%;
        flex-direction: column;
        margin: auto;
    }
    &-control {
        height: 30px;
        border-radius: 5px;
        margin: 4px 0 4px 0;
    }
    &-button {
        height: 40px;
        margin: 10px 0 10px 0;
    }
}